version: "3.6"
services:
  beacon-validator:
    build:
      context: ./build
      args:
        UPSTREAM_VERSION: v22.10.1
    restart: unless-stopped
    stop_grace_period: 1m
    environment:
      LOG_TYPE: INFO
      HTTP_ENGINE: ""
      GRAFFITI: validating_from_DAppNode
      P2P_TCP_PORT: 9106
      P2P_UDP_PORT: 9106
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
      FEE_RECIPIENT_ADDRESS: ""
    ports:
      - "9106:9106/tcp"
      - "9106:9106/udp"
    volumes:
      - "nimbus-data:/home/user/nimbus-eth2/build/data"
    image: "beacon-validator.nimbus.dnp.dappnode.eth:0.1.0"
volumes:
  nimbus-data: {}
